.sidebar {
  width: 225px;
  height: 100vh;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.sidebar a {
  padding: 12px 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  display: block;
}

.sidebar a:hover {
  background-color: rgb(42, 38, 43);
  color: rgb(168, 85, 247);
  padding-left: 25px;
}