.sidebar {
  width: 225px;
  height: 100vh;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.content {
  margin-left: 225px;
  padding: 20px;
}

.sidebar a {
  padding: 12px 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  display: block;
}

.sidebar a:hover {
  background-color: #999999;
  color: rgb(255, 208, 0);
  padding-left: 25px;
}